body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.1)), url('https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=8');
    background-size: cover;
    background-position: center;
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 600;
    color: hwb(60 97% 0%);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link.active {
    color: rgb(138, 155, 179);
    font-weight: 700;
    border-bottom-color: rgba(250, 235, 215, 0.801);

}

.nav-link:hover {
    color: antiquewhite;
    border-bottom-color: rgba(250, 235, 215, 0.623);
}